.explore-container {
    height: 100vh;
    margin: 0; 
    overflow: hidden
}

.top-explore-bar {
    background-color: #620FB3;
    height: 25%;
    overflow: hidden
}

.top-explore-bar h2 {
    padding-left: 2.5%;
    color: #F4FF6B;
} 

.explore {
    margin-top: -50px;
    width: 70%;
    height: 80%;
    padding: 1%;
    position: relative;
}

.explore-items {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.egem-list-item {
    background-color: #EFEAFF;
    width: 100%;
    padding: 20px;
}

.exp-items-user {
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
    display: flex;
    align-items:center;
}

.exp-items-name {
    padding-left: 1%;
    font-weight: bold;
    font-size: 1rem;
}

.exp-items-text {
    margin-top: 12px;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1%;;
    padding-right: 1%;
    padding-top: 1%;
    /* -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.exp-items-user img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
}

.explore li {
    float: left;
    margin-bottom: 3%;
}

.explore ul {
    list-style-type: none;
}

.exp-items-tag-time {
    margin-top: 24px;
}

.exp-items-tags {
    background-color: #7858D2;
    color: white;
    padding: 6px 8px;
    border-radius: 12px;
    margin-right: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    float: left
}

.exp-items-time {
    float:right;
    padding-right: 5%;
    font-size: 0.8rem;
}
