.gem {
    display: flex;
    justify-content: space-between;
  }
  
  .left-side {
    flex: 1;
    background-color: #F7F4FF;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .right-side {
    flex: 3.3;
  }

  .search-bar {
    margin-top: 60px;
    width: 100%;
    padding: 12px 32px 12px 8px; /* Add padding to the right side */
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #620FB3;
    border-radius: 8px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    right: 14px; /* Adjust the position from the right */
    margin-top: 82px;
    transform: translateY(-50%);
    width: 20px; /* Adjust the icon size as needed */
    height: 20px;
    pointer-events: none; /* Disable interactions with the search icon */
  }

  .search-bar:focus {
    outline: none;
  }
  
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
    margin-bottom: 10px;
  }
  
  .filter-tag {
    padding: 4px 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    border: 1.5px solid #7858D2;
    color: #7858D2;
  }
  
  .filter-tag:hover {
    background-color: #e7dffe;
  }
  
  .filter-tag.selected {
    background-color: #7858D2;
    color: #fff;
    border: 1.5px solid transparent;
  }
  