.gem {
    display: flex;
    justify-content: space-between;
  }
  
  .left-side {
    flex: 1;
    background-color: #F7F4FF;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .right-side {
    flex: 3.3;
  }
  
  .search-bar {
    margin-top: 70px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #620FB3;
    border-radius: 8px;
  }
  
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
    margin-bottom: 10px;
  }
  
  .filter-tag {
    padding: 4px 8px;
    margin-right: 6px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    border: 1.5px solid #7858D2;
    color: #7858D2;
  }
  
  .filter-tag:hover {
    background-color: #e7dffe;
  }
  
  .filter-tag.selected {
    background-color: #7858D2;
    color: #fff;
    border: 1.5px solid transparent;
  }
  