.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .welcome-section {
    position: relative;
  }
  
  .welcome-section img {
    width: 100%;
    height: 62vh;
  }
  
  .welcome-text {
    position: absolute;
    top: 40%;
    left: 80%;
    width: 600px;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .add-block-btn {
    background-color: #F4FF6B;
    border: none;
    color: #620FB3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 400px
  }
  
  .bottom-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .home h1 {
    color: #F4FF6B;
    font-size: 1.8rem;
  }