.nav-bar {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  position: fixed;
  background-color: #7858D2;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s;
}

.nav-bar:hover {
  width: 320px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-top: 70px;
  margin-bottom: 36px;
}

.big-logo {
  display: none;
}

.nav-bar:hover .big-logo {
  display: block;
  width: 160px;
  height: auto;
  margin-top: 70px;
  margin-bottom: 36px;
}

.nav-bar:hover .logo {
  display: none;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}

.nav-text {
  display: none;
  text-decoration: none;
  color: #fff;
}

.nav-bar:hover .nav-text {
  display: block;
  font-size: 18px;
  margin-left: 10px;
}

.nav-divider {
  display: none;
  width: 240px;
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}

.nav-bar:hover .nav-divider {
  display: block;
}

.user-info-text {
  display: none;
  font-size: 14px;
  color: #fff;
}

.nav-bar:hover .user-info-text {
  display: block;
  margin-top: 10px;
}

.nav-items a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-bar .user-icon {
  display: block;
}

.nav-bar:hover .user-icon {
  display: none;
}

.icon-text-container img {
  margin-top: 20%
}



