body {
    margin: 0;
    padding: 0;
}
.nav-padding {
    padding-left: 100px;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.center {
    text-align: center;
    margin: auto;
}